
<!DOCTYPE html>
    <html lang="pt-BR">
        <head> <!-- Cabeçalho podemos configurar meta dados -->
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Menu</title>
            <link rel="stylesheet" type="text/css" href="../static/index.css">
        </head>
        <body class="body"> <!--Corpo do Html-->
            <header>
                <nav class = "navigation">
                    <img clas = "logo" src="../img/logo_ecommerce.png" alt="Logo">
                    <ul id="ul_menu">
                        <li><a href="../templates/index.html">home</a></li>
                        <li><a href="../templates/produtos.html">produtos</a></li>
                        <li><a href="#">produto</a></li>
                        <li><a href="#">saida</a></li>                
                    </ul>
                </nav>
            </header>
        </body>
    </html>