
<!DOCTYPE html5>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Principal</title>
        <link rel="stylesheet" href="./css/produtos.css">
    </head>
    <body>
        <header>
            <img src="./img/logo.png" alt="Logo" class="logo">
            <nav>
                <a href="#">Home</a>
                <li><a href="../templates/produtos.html">produtos</a></li>
                <a href="#">Sobre</a>
                <a href="#">Contato</a>
            </nav>
        </header>

        <section class="produtos">
            <h2>Produtos</h2>
            <div class="produto-lista">
                <div class="produto">
                    <img src="./img/bone.png" alt="Produto 1">
                    <h3>Boné</h3>
                    <p class="preco">R$ 100,00</p>
                    <!-- Link para redirecionar para a página formproduto.html -->
                    <a href="formproduto.html" class="comprar-btn">Comprar</a>
                </div>
                <div class="produto">
                    <img src="./img/camisa.png" alt="Produto 2">
                    <h3>Camisa</h3>
                    <p class="preco">R$ 150,00</p>
                    <!-- Link para redirecionar para a página formproduto.html -->
                    <a href="formproduto.html" class="comprar-btn">Comprar</a>
                </div>
                <div class="produto">
                    <img src="./img/pulseiro.png" alt="Produto 3">
                    <h3>Pulseira</h3>
                    <p class="preco">R$ 80,00</p>
                    <!-- Link para redirecionar para a página formproduto.html -->
                    <a href="formproduto.html" class="comprar-btn">Comprar</a>
                </div>
                <div class="produto">
                    <img src="./img/short.png" alt="Produto 4">
                    <h3>Short</h3>
                    <p class="preco">R$ 200,00</p>
                    <!-- Link para redirecionar para a página formproduto.html -->
                    <a href="formproduto.html" class="comprar-btn">Comprar</a>
                </div>
            </div>
        </section>    
    </body>