
<!DOCTYPE html5>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Produtos</title>
        <link rel="stylesheet" type="text/css" href="../static/produtos.css">
        <link rel="stylesheet" type="text/css" href="../static/index.css">
    </head>
    <body>
        <body class="body"> <!--Corpo do Html-->
            <header>
                <nav class = "navigation">
                    <img clas = "logo" src="../img/logo_ecommerce.png" alt="Logo">
                    <ul id="ul_menu">
                        <li><a href="../templates/index.html">home</a></li>
                        <li><a href="../templates/produtos.html">produtos</a></li>
                        <li><a href="#">produto</a></li>
                        <li><a href="../templates/login.html">saida</a></li>                
                    </ul>
                </nav>
            </header>
        <main>
            <div class ="conteiner">
                
                <div class="gree">
                </div>
                <div class="red">
                </div>
                <div class="blue">
                </div>
                <div class="yellow">
                </div>
                <div class="yellow">
                </div>
                <div class="yellow">
                </div>
            
            </div>
       </main> 
    </body>