/*grid nos permite formar elementos com linhas e colunas*/
.conteiner{
    width: 100%;
    height: 100%;
    display: grid ;
    grid-template-columns: 300px 300px; /* devinimos os números de colunas e o tamnho de cada uma delas*/
    grid-template-rows: 300px 300px; /* nesse caso já são as linhas*/
    gap: 10px; /*espaçamento geral dos elemtnos na grid*/
    align-items: center; /* permite manipularmos os elementos dentro da nossa div/caixinha no eixo y*/
    justify-items: start; /* permite manipular a posição dos elementos que estão dentro das nossas caixinhas/div*/
}   
/* se tirarmos o tamnho das divs, eles vão se alongar e ocupar todo o espaço disponível*/
div{
    width: 200px;
    height: 200px;
}

.gree{
    background-color: green;
    grid-row: 2; /* linha e coluna que ela ocupa*/
    grid-column: 1; /*linha e coluna que esse elemento vai ocupar*/
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}

/*
    quando não definimos o tamanho da nossas div e usamos aling-items e justify-items: start;
    nossas caixinhas que seriam manipuladas divs dentro de outras divs (elementos), não existem

*/